<div class="pb-blog-post">
  <h1 class="title">
    {{ blog_post.title }}
  </h1>

  <div class="pb-blog-post--header">
    <div class="pb-blog-post--header-left">
      {% include pb_blog/pb_blog_post_meta.html %}
      
      {% if blog_post.tags %}
        {% include pb_blog/pb_tags.html %}
      {% endif %}
    </div>

    {% include pb_blog/pb_blog_post_sharing.html %}
  </div>

  {{ blog_post.content_as_html }}

  {% include pb_blog/pb_signup_for_newsletter.html %}

  <div class="pb-blog-post--progress-bar-wrapper">
    <div class="pb-blog-post--progress-bar"></div>
  </div>
</div>
