<div class="pb-blog-post-card {% if include.featured %} featured {% endif %} {% if blog_post.preview_img_url %} has-preview-img {% endif %} ">
  {% if blog_post.preview_img_url %}
    <img src="{{ blog_post.preview_img_url }}">
  {% endif %}

  <div class="pb-blog-post-card--content-wrapper">
    <div class="pb-blog-post-card--content">
      <h3> {{ blog_post.title }} </h3>

      <div class="pb-blog-post--excerpt">
        {{ blog_post.preview_content }}
      </div>

      {% include pb_blog/pb_blog_post_meta.html %}
    </div>
    
    <div class="pb-blog-post-card--footer">
      {% if blog_post.tags %}
        <div class="pb-mt-2">
          {% include pb_blog/pb_tags.html %}
        </div>
      {% endif %}
    </div>
  </div>

  <a href="/blog/{{ blog_post.slug }}" class="absolute-link"></a>
</div>
