<form id="pb-form-submit-with-js" class="pb-form" accept-charset="UTF-8" action="https://www.page-bird.com/newsletter_subscribe/{{ site.page_bird.website_id }}" method="POST">
  <label for="email" class="visually-hidden">Email</label>
  <input class="pb-input" required="" name="subscriber[email]" type="email" placeholder="Enter your Email Address">

  <input type="text" name="_gotcha" style="display:none">

  <div class="center">
    <input type="submit" value="Submit" class="pb-input pb-button">
  </div>
</form>
