<form class="pb-form" accept-charset="UTF-8" action="https://www.page-bird.com/newsletter_signup/{{ site.page_bird.website_id }}" method="POST">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="email" class="visually-hidden">Email</label>
        <input class="pb-input" required="" name="subscriber[email]" type="email" placeholder="Enter your Email Address">
      </div>
    </div>
  </div>

  <input type="text" name="_gotcha" style="display:none">

  <div class="center">
    <input type="submit" value="Submit" class="pb-input pb-button">
  </div>
</form>
