<div class="pb-blog-post-card {% if include.featured %} featured {% endif %} {% if blog_post.preview_img_url %} has-preview-img {% endif %} ">
  <a href="/blog/{{ blog_post.slug }}" class="absolute-link"></a>

  <div class="pg-blog-post-card--content-wrapper">
    {% if blog_post.preview_img_url %}
      <img src="{{ blog_post.preview_img_url }}">
    {% endif %}

    <div>
      <h3> {{ blog_post.title }} </h3>

      <div class="excerpt">
        {{ blog_post.preview_content }}
      </div>

      <div class="meta">
        Published on {{ blog_post.published_at | date_to_long_string: "ordinal", "US"  }}
      </div>
    </div>
  </div>
</div>
