.pb-blog-index {
  max-width: 778px;
  margin: 0 auto 2rem;
}

.pb-blog-post-card {
  position: relative;
  border-bottom: 1px solid #d4d4d4;
  padding: 20px;

  .pg-blog-post-card--content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 128px;
    z-index: 1;
  }

  img {
    min-width: 128px;
    min-height: 128px;
    width: 128px;
    height: 128px;
    object-fit: cover;
    object-position: center;
    margin-right: 1.5rem;
    animation: linear 1s placeHolderShimmer infinite;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 350% 100%;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  .excerpt {
    margin-top: 4px;
  }

  .meta {
    margin-top: 8px;
    font-size: 80%;
    color: rgba(black, 0.6);
  }

  &::before {
    content: "";
    display: block;
    width: calc(100% + 2rem);
    height: calc(100% + 4px);
    position: absolute;
    left: -1rem;
    top: -2px;
    transition: opacity .42s cubic-bezier(.165,.84,.44,1);
    background: white;
    opacity: 0;
  }

  @media screen and (min-width: 991px) {
    &:hover::before {
      opacity: 1;
      box-shadow: 0 0 40px rgba(0,0,0,.1);
    }
  }
}

.pb-blog-post-card.featured {
  border: 0;
  padding: 2rem;
  max-width: 980px;
  margin: 2rem auto;

  .pg-blog-post-card--content-wrapper {
    display: grid;
    grid-column-gap: 12%;
    grid-template-columns: repeat(2,1fr);
    max-width: none;
    min-height: 0;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
  }

  h3 {
    font-size: 3.125rem;
    line-height: 1.12;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  &::before {
    display: none;
  }

  @media (max-width: 768px) {
    padding: 1rem;

    .pg-blog-post-card--content-wrapper {
      display: block;
    }

    img {
      max-width: 100%;
      max-height: 200px;
      margin-bottom: 0.75rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 0.75rem;
    }
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px 0;
  }
}

.pb-blog-post {
  max-width: 680px;
  margin: 0 auto 2rem;
  padding: 2rem;

  h1.title {
    margin: 0 0 1rem;
    font-size: 3.125rem;
    line-height: 1.12;
  }

  .trix-content {
    font-size: 1.17rem;
    line-height: 1.9;

    h1 {
      font-size: 1.67rem;
    }

    ul, ol {
      li {
        margin-left: 1rem;
      }
    }
  }

  @media (max-width: 768px) {
    color: rgba(0, 0, 0, 0.843137);

    h1.title {
      font-size: 2rem;
    }
  }
}

.pb-blog-post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.541176);
}

.pb-blog-post-meta--sharing {
  font-size: 1.25rem;
  display: flex;

  a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 75%;
    margin-right: 6px;
    transition: 200ms all ease-in-out;

    svg {
      fill: white;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
