.pb-events-index {
  max-width: 820px;
  margin: 0 auto 2rem;
}


.pb-event {
  position: relative;
  border-bottom: 1px solid #d4d4d4;
  border: 0;
  padding: 2rem;
  max-width: 980px;
  margin: 2rem auto;

  .pg-event--content-wrapper {
    display: grid;
    grid-column-gap: 8%;
    grid-template-columns: 55% 37%;
    max-width: none;
    min-height: 400px;;
  }

  img {
    width: 100%;
    max-height: 600px;
  }

  h1.title {
    margin: 0 0 1rem;
    font-size: 3.125rem;
    line-height: 1.12;
  }

  h3 {
    font-size: 3.125rem;
    line-height: 1.12;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  &::before {
    display: none;
  }

  @media (max-width: 768px) {
    padding: 1rem;

    .pg-event--content-wrapper {
      display: block;
      min-height: 0;
    }

    img {
      max-width: 100%;
      max-height: 300px;
      margin-bottom: 0.75rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 0.75rem;
    }
  }
}

.pb-event-description {
  width: 100%;

  h2.about {
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.12;
  }

  .trix-content {
    font-size: 1.17rem;
    line-height: 1.9;

    h1 {
      font-size: 1.67rem;
    }

    ul, ol {
      li {
        margin-left: 1rem;
      }
    }
  }

  @media (max-width: 768px) {
    color: rgba(0, 0, 0, 0.843137);

    h1.title {
      font-size: 2rem;
    }
  }
}


// Styles for event cards in events_index.html

.pb-event-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 40px 0;

  .pb-img-wrapper {
    margin-right: 2rem;
    max-width: 360px;

    .pb-date-tag {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .pb-event-card--title {
    font-size: 1.5rem;
    margin: 0;
  }

  .pb-event-card--meta {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.843137);
    font-size: 1rem;
    line-height: 1.67;
  }

  .pb-event-card--content {
    color: rgba(0, 0, 0, 0.541176);
    margin-top: 1rem;
  }

  @media (max-width: 991px) {
    flex-direction: column;

    .pb-img-wrapper {
      margin: 0 0 1rem;
      max-width: 100%;
    }
  }
}

.pb-date-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);

  .pb-date-tag--month {
    text-transform: uppercase;
    font-size: 0.7rem;
  }
}
