.pb-form {
  position: relative;
  width: 100%;

  label {
    display: block;
    margin: 1em 0 0 0;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 1.5;
    text-align: left;
  }
}


.pb-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: white;
  margin: 0;
  transition: 200ms all ease-in-out;

  &:focus, &:active {
    outline: none;
    border-color: rgb(35, 146, 236);
  }

  &[disabled='disabled'], &[readonly='readonly'] {
    background-color: #f9f6f6;
  }
}

.pb-button {
  background-color: rgb(35, 146, 236);
  border-color: rgb(35, 146, 236);
  color: white;
  cursor: pointer;
}

.pb-button-disabled {
  cursor: no-drop;
  background-color: #e2e6e8 !important;
  color: #a8aaac !important;
  border-color: #e2e6e8 !important;
}

.pb-loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pb-loader {
  display: inline-block;
  margin-right: 8px;
  border: 2px solid #e2e6e8;
  border-top: 2px solid #a8aaac;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
