.absolute-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 30;
}

.dot-divider {
  padding-right: .3em;
  padding-left: .3em;

  &::after {
    content: '\00B7';
  }
}
