$pb-green: #7ac142;
$white: #fff;

*, *::before, *::after {
  box-sizing: border-box;
}

.absolute-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 30;
}

.dot-divider {
  padding-right: .3em;
  padding-left: .3em;

  &::after {
    content: '\00B7';
  }
}

.pb-lead {
  font-size: 1.25rem;
}

.pb-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #8b8b8b;
  font-size: 64px;
  width: 1em;
  height: 1em;
  color: #8b8b8b;

  svg {
    height: 0.5em;
    width: 0.5em;
  }
}

.border-red {
  border-color: #F53636 !important;
}

.visually-hidden {
  text-indent: -1000em;
  margin: 0 !important;
  height: 1px;
}
