.pb-sticky-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.25rem 1rem;
  background-color: #007bff;
  background-size: 200%;
  background-position: 0% 0;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: 200ms all ease-in;

  &:hover, &:focus, &:active {
    color: white;
    text-decoration: none;
    background-position: 100% 0;
  }
}
