<div class="pb-event-card">
  <a href="/events/{{ event.slug }}" class="absolute-link"></a>

  <div class="pb-img-wrapper img-animated {% unless event.media_url %} no-img {% endunless %}">
    {% if event.media_url %}
      <img src="{{ event.media_url }}">
    {% endif %}  
      
    <div class="pb-date-tag">
      <div class="pb-date-tag--month">
        {{ event.start_at | date: "%b" }}
      </div>
      <div class="pb-date-tag--day">
        {{ event.start_at | date: "%e" }}
      </div>
    </div>

    <div class="pb-event-card-banner--content">
      <div class="pb-event--title pb-text--bold">{{ event.name }}</div>
      <div class="pb-event--date pb-text--light-grey">{{ event.start_at | date: "%b %e" }}</div>
    </div>
        
  </div>

  <div>
    <h3 class="pb-event-card--title"> {{ event.name }} </h3>

    <div class="pb-event-card--meta">
      <div class="pb-event-card--date">
        {% include pb_events/dates.html %}
      </div>
      <div class="pb-event-card--address">
        {{ event.location }}
      </div>
    </div>

    <div class="pb-event-card--content">
      {{ event.preview_description }}
    </div>
  </div>
</div>
